<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

<body>

    <%= render "shared/application_nav" %>

    <%= render "shared/application_carousel" %>

<!-- start of the Features -->

  <div class="hero-section">
    <div class="top-heading">
        <h1>HTML Styled Fries</h1>
    </div>

    <div class="bottom-heading">
        <h3>Coding fuel</h3>
    </div>
  </div>
  <div class="features-section">
    <div class="columns-wrapper">
      <div class="column">
        <i class="fas fa-truck-monster"></i>
        <p>We Deliver!</p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="column">
        <i class="fas fa-wifi"></i>
        <p>You can code from here!</p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="column">
        <i class="fas fa-chart-line"></i>
        <p>100+ types of fries!</p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>


<!-- End of the Features -->


    <%= yield %>
  </body>
</html>
